*{
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    /* padding: 20px 40px; */
    text-align: center;
    border-radius: 50%;
    border: 4px solid black;
}
button{
    background-color: red;
    width: 80px;
    border-radius: 8px;
    justify-self: center;
    margin-top: 5px;
}


