body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
    padding: 40px;
}

.container {
    background: white;
    padding: 30px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input {
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

img {
    width: 120px;
    border-radius: 50%;
    margin-top: 15px;
}

.repo {
    background: #eee;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}