*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
$card-border-radius:10px;
.card{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: fit-content;
  padding: 20px;
  border-radius: $card-border-radius;
  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
    h1{
        font-family: 'Courier New', Courier, monospace;
    }
}
