*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100% ;
    font-size: 10px;
}
.parent{
    height: 400px;
    width: 100%;
    background-color: wheat;
}
.child{
    height: 100px;
    width: 100px;
    background-color: red;
}
h1{
    font-size: 2rem;/* 1rem-32px*/
}