
/* button:hover{
    color: red;
}
input:focus{
    color: red;
}
li::after{
    content: " Read  ";
} */
button{
    background-color: aqua;
    color: red;
    transition: all ease-in 2s;
    border-radius: 20px;
}
button:hover{
    color: blue;
}
.box{
    width: 200px;
    height: 200px;
    background-color: red;
    animation: hii 5s 1s both;
    transition: all linear 0.5s;
    /* transform: translate(100px,100px); */
     /* transform: scale(0.5); */
     /* transform: skew(20deg,); */
}
/* .box:hover{
    transform: translate(100px,100px);
    transform: scale(0.5);
} */
@keyframes hii{
    /* from{
        background-color: red;
    }
    to{background-color: green;} */
    0%{
        background-color: red;
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color:blue;
    }
    75%{
        background-color:orange;
    }
    90%{
        background-color:violet;
    }
    100%{
        background-color: red;
    }
}
