*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
    padding: 0.8rem;
    width: 100%;
    height: 100%;
}

.heading{
    hr{
        height: 2px;
    }
}
.sec-A{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
    img{
        width: 100%;
        object-fit: cover;
    }
    .text{
        font-family: monospace;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        p{
            text-transform: uppercase;
        }
    }
}

.sec-B{
    margin-top: 1rem;
    width: 100%;
    height: 35rem;
    img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    .bottom{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}