/* #box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    background: linear-gradient(red,white,green);
    background-size: cover;
    background-position: top;
    background-image: url(https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
} */
/* #box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 50;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
     position: absolute;
    top: 40%;
    right: 40%;
    z-index: 50;
}
#box3{
    height: 200px;
    width: 200px;
    background-color: lightblue;
     position: absolute;
    top: 60%;
    right: 60%;
}  */
/* #box1{
    height: 400px;
    width: 400px;
    background-color: crimson;
    position: relative;
} 
#box2{
    height: 200px;
    width: 200px;
    background-color: lightblue;
    position: absolute;
    left: 50%;
    bottom: 0%;
} */
#parent{
    height: 100%;
    width: 100%;
    display: flex;
    /* background-color: black; */
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
#child1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    /* position: absolute; */
}
#child2{
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    /* position: absolute;
    left: 200px; */
}
#child3{
    height: 200px;
    width: 200px;
    background-color: lightblue;
    /* position: absolute;
    left: 400px; */
}