html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#parent{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    padding: 40px;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
}
#child{
    background-image: url(https://images.unsplash.com/photo-1769109002468-85f8a39d5ccd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    flex-shrink: 0;
    background-size: cover;
    width: 200px;
    height: 200px;
    background-color: crimson;
    border: 3px solid wheat;
}