#bg{
    width: 100%;
    height: 200px;
    background-color: red;
}

#card{
    background-color: blue;
    width: 300px;
    height: 200px;
    padding: 50px;
    /* margin: 50px; */
    box-sizing: border-box;
    p{
        color: red;
    }
}