*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #111;
}

#box{
    width: 200px;
    height: 200px;
    background-color: crimson;
}