*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

html,
body{
    width: 100%;
    height: 100%;
}



#box{
    width: 300px;
    height: 300px;
    background-color: crimson;
}