*{
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 200px;
    height: 100px;
    background-color: skyblue;
    padding: 20px 40px;
    text-align: center;
    border-radius: 8px;
}
.box button{
    background-color: red;
    width: 80px;
    border-radius: 8px;
    margin-top: 10px;
}


