*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card{
    justify-content: center;
    display: flex;
    align-items:center ;
    flex-direction: column;
    width: 250px;
    background-color: aqua;
    border-radius: 20px;
    padding: 20px;
}
.card h1{
    opacity: 100%;
    color: red
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

#main h2{
    font-size: 30px;
}
    

.card button:active{
    transform: scale(0.95);
}
