@mixin light-weight-font{
    font-weight: 200;
    opacity: 0.8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    padding: 1rem;
}

main{
    padding-top: 1rem;
    width: 100%;
    padding: 1rem;
    border: 2px solid black;
}

.section-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    p{
        font-size: 1rem;
        @include light-weight-font();
    }
    h1{
        width: 70%;
        font-size: 3rem;
         @include light-weight-font();
    }
    img{
        margin-top: 1rem;
        width: 100%;
        height: 20rem;
        object-fit: cover;
        border-radius: 10px;
    }
}
@media(min-width:1440px){
    main{
        padding:2rem;
    }
    .section-1{
        p{
            font-size: 3rem;
             @include light-weight-font();
        }
        h1{
             @include light-weight-font();
            font-size: 10rem;
        }
        img{
            height: 50rem;
        }
        br{
            display: block;
        }
    }
}

.section-2{
    margin-top: 4rem;
    .view-1{
        width: 100%;
    }
    .view-2{
        margin-top: 2rem;
        width: 100%;
        p{
           font-size: 3rem;
            @include light-weight-font();
        }
        h3{
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
}