*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.images{
    height: 100%;
    width: 100%;
    background-color: wheat;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i"
    "j";
}
img{
    width: 100%;
    /* This is for MobileUI */
    aspect-ratio: 16/9;   
    object-fit: cover;
    
}
    /* display: none; */
@media(min-width:1080px){
    .images{
    grid-template-areas:
                "a a b c"
                "a a d e"
                "f g h h"
                "i j h h";
    
    }
}

.image-a{
    grid-area: a;
}
.image-b{
    grid-area: b;
}
.image-c{
    grid-area: c;
}
.image-d{
    grid-area: d;
}
.image-e{
    grid-area: e;
}
.image-f{
    grid-area: f;
}
.image-g{
    grid-area: g;
}
.image-h{
    grid-area: h;
}
.image-i{
    grid-area: i;
}
.image-j{
    grid-area: j;
}

